.container-moviedetails {
  padding: 10px;
}

.container-moviedetails h1 {
  font-size: 24px;
  color: white;
  font-weight: 700;
  margin-right: 45px;
}

.container-avaliação {
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-reviews {
  padding: 17px 10px 28px 10px;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .container-moviedetails {
    padding: 36px 40px 40px 40px;
  }

  .container-moviedetails h1 {
    font-size: 48px;
  }

  .container-btn-salvar-avaliacao {
    display: flex;
    justify-content: center;
  }

  .container-avaliação {
    padding: 20px 40px 20px 40px;
  
  }
}
